.button {
  background: none;
  border: 0.1rem solid transparent;
  position: relative;
  font-size: inherit;
  background-color: white;
  color: black;
}

.anchor {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme--default {
  /* should be able to just inhert from button */
}
