.container {
  padding: 0 58px 58px 58px;
  background-color: #f6e9f2;
}

.welcomeContainer {
  position: relative;
  width: auto;
  height: 500px;
}

.welcomeContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
}

.welcomeContainer h3 {
  font-family: orpheus-pro;
  font-weight: 400;
  font-style: normal;
  color: #ffd6d7;
  font-size: 40px;
  text-align: left;
}

.centered {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 15%;
  text-align: center;
  width: 70%;
}

.brandBtn {
  background-color: #ffd6d7 !important;
  height: 65px;
  width: 190px;
  font-family: orpheus-pro;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
}

.brandBtn :hover {
  background-color: rgba(204, 163, 164, 0.329);
}
