.navContainer {
  background-color: #f6e9f2;
  height: auto;
  padding: 29px 58px;
  display: grid;
  grid-template-columns: 220px auto 140px;
  grid-template-areas: 'logo pages social';
}

.navLogo {
  grid-area: logo;
}

.navLinks {
  grid-area: pages;
  color: #5f214f;
  justify-self: end;
  align-self: center;
}

.navLinks a {
  display: inline-block;
  font-family: adobe-garamond-pro;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  text-decoration: inherit;
  margin-right: 20px;
  height: 35px;
  line-height: 35px;
}

.navLinkActive {
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to right,
    currentColor 100%,
    currentColor 0
  );
  background-size: 1px 1px;
  background-position: 0 calc(100% - 0.1em);
}

.navSocial {
  grid-area: social;
  align-self: center;
}

.navSocial a {
  margin-left: 18px;
}
